.select-colors {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 0.75rem;
}

.color {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.color input {
  display: none;
}

.color span {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  background: var(--c);
  border: 6px solid var(--shape-button);
}


.color input:checked + span {
  outline: 3px solid var(--brand-light);
  outline-offset: -3px;
}
