input[type="text"],
input[type="datetime-local"] {
  width: 100%;
}

.form:has(button[type="submit"]:active) input:required:invalid {
  border-color: red;
}


#event-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.grid-2 {
  grid-column: span 2;
}

.input-wrapper input,
textarea {
  outline: 0;
  height: 3rem;
  border: 1px solid var(--input-stroke);
  border-radius: 8px;
  background-color: var(--input);
  padding: 0.8rem 0 0.8rem 1rem;
}

.input-wrapper input,
textarea::placeholder {
  font: var(--font-body-md-regular);
  color: var(--input-placeholder);
}

.time-inputs::-webkit-calendar-picker-indicator {
  display: none;
}
