.theme-info {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3rem;
}

div.card-info {
  background: var(--shape-button);
  border-radius: 8px;
  padding: 4px;
  border: 2px solid transparent;
}

div.card-info:has(input:checked) {
  border: 2px solid var(--brand-light);
}

.card-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-info span {
  margin-top: 8px;
  margin-bottom: -8px;
}
