html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
   :root {
  /* Brand */
  --brand-light: #5982FF;
  --brand: #3487CF;
  --brand-dark: #1D4FB6;

  /* Accent Colors */
  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8959;
  --yellow: #FFD659;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #4A69FF;

  /* Feedback */
  --danger: #FF5959;

  /* Input */
  --input: #1C1F21;
  --input-stroke: #363840;
  --input-placeholder: #869198;

  /* Shape */
  --shape: #131516;
  --shape-body: #212427;
  --shape-button: #363840;
  --shape-hover: #383D42;

  /* Text */
  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  :root {
  /* Font families */
  --font-family-logo: "Leckerli One", cursive;
  --font-family-heading: "Baloo 2", sans-serif;
  --font-family-body: "Open Sans", sans-serif;

  /* Logo */
  --font-logo: 400 40px/auto var(--font-family-logo);

  /* Headings */
  --font-heading-md: 700 28px/auto var(--font-family-heading);

  /* Body text */
  --font-body-md-regular: 400 16px/auto var(--font-family-body);
  --font-body-md-semibold: 600 16px/auto var(--font-family-body);

  --font-body-sm-regular: 400 14px/auto var(--font-family-body);
  --font-body-sm-semibold: 600 14px/auto var(--font-family-body);

  --font-body-xs-regular: 400 12px/auto var(--font-family-body);
}
} 
}