html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--shape-body);
  overflow: hidden;
  color: var(--text-heading);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Brand */
  --brand-light: #5982ff;
  --brand: #3487cf;
  --brand-dark: #1d4fb6;

  /* Accent Colors */
  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8959;
  --yellow: #ffd659;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #4a69ff;

  /* Feedback */
  --danger: #ff5959;

  /* Input */
  --input: #1c1f21;
  --input-stroke: #363840;
  --input-placeholder: #869198;

  /* Shape */
  --shape: #131516;
  --shape-body: #212427;
  --shape-button: #363840;
  --shape-hover: #383d42;

  /* Text */
  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  /* Font families */
  --font-family-logo: "Leckerli One", cursive;
  --font-family-heading: "Baloo 2", sans-serif;
  --font-family-body: "Open Sans", sans-serif;

  /* Logo */
  --font-logo: 400 40px / normal var(--font-family-logo);

  /* Headings */
  --font-heading-md: 700 28px / normal "Baloo 2", sans-serif;

  /* Body text */
  --font-body-md-regular: 400 16px / normal "Open Sans", sans-serif;
  --font-body-md-semibold: 600 16px / normal "Open Sans", sans-serif;

  --font-body-sm-regular: 400 14px / normal "Open Sans", sans-serif;
  --font-body-sm-semibold: 600 14px / normal "Open Sans", sans-serif;

  --font-body-xs-regular: 400 12px / normal "Open Sans", sans-serif;
}
