@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Leckerli+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url(global.css);
@import url(layout.css);
@import url(aside.css);
@import url(inputs/inputs.css);
@import url(inputs/label.css);
@import url(inputs/textarea.css);
@import url(inputs/radio.css);
@import url(inputs/colors.css);
@import url(inputs/theme.css);
@import url(inputs/theme-cover.css);
