div#app {
  display: grid;
  grid-template-columns: 32.78% 67.21%;
  height: 100vh;
  overflow: hidden;
}

main {
  overflow: auto;
  padding: 5rem;
  max-width: 51.25rem;

  & .main-cotainer {
    max-width: 25rem;
  }
}

#main-container {
  max-width: 35rem;
  margin: 5rem, 8rem;
}

form > h1 {
  font: var(--font-heading-md);
  color: var(--text-heading);
  margin-bottom: 2.5rem;
}

aside {
  background-image: url(../assets/images/Background.png);
  background-size: contain;
  background-repeat: no-repeat;

  & #aside-container {
    max-width: 25rem;
  }
}
